body {
  margin: 0px;
  box-sizing: border-box;
}

/* HEADER */
header .band-container {
  background-color: #3F8BFF;
  background-image: url(../img/pattern.png);
  height: 170px;
}

.container {
  width: 65%;
  margin: auto;
}

header h1 {
  margin-bottom: 0;
}

#logo {
  height: 50px;
  margin-top: 100px;
}

h6 {
  margin-top: 5px;
  font-size: 15px;
  color: grey;
}

h6 span {
  color: #3F8BFF;
}

h6 #span-1 {
  font-size: 10px;
  color: grey;
}

/* MAIN */

.didascalia {
  display: block;
  font-size: 10px;
}

table {
  border-spacing: 0ch;
}

table thead tr th {
  background-color: #1F97DE;
  color: white;
}

#th3 {
  width: 50%;
}

.tr-body {
  background-color: #A4DFEE;
}

/* FOOTER */
footer h3 {
  color: white;
}

.f1 {
  background-image: url(../img/monitor.jpg);
  width: 312px;
  height: 208px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.f2 {
  background-image: url(../img/graph.jpg);
  width: 312px;
  height: 208px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 50px;
}

/* fixing */
.evidenziazione {
  background-color: yellow;
}
