body {
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
header .band-container {
  background-color: #3F8BFF;
  background-image: url(../img/pattern.png);
  height: 170px;
}

#logo {
  height: 50px;
  margin-top: 100px;
}
